@charset "UTF-8";

div.conteiner{
    border: 1px solid black;
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
}
.caixa1{
    background-color: red;
    grid-row: 1 / 2 ;
    grid-column: 1 / span 4;
    /* abreviação */
    grid-area: 1 / 1 / 2 / span 4;
}
.caixa2{
    background-color: aqua;    grid-row: 2 / 4;
    grid-column: 1 / span 2;
    /* abreviação */
    grid-area: 2 / 1 / 4 / span 2;
}
.caixa3{
    background-color: blueviolet;
    grid-row: 2 / 4;
    grid-column: 3 / span 2;
    /* abreviação */
    grid-area: 2 / 3 / 4 / span 2;
}