@charset "UTF-8";

div.conteiner{
    border: 1px solid black;
    height: 500px;
    display: grid;
    grid-template-columns: 200px 30% repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* abreviação */
    /* grid-template: repeat(3, 1fr) / repeat(3, 1fr); */


    /* items */
    align-items: stretch;
    justify-items: stretch;
    /* abreviação */
    place-items: stretch stretch;


    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    gap: 10px;

    /* conteiner */
    align-content: stretch ;
    justify-content: stretch;
    /* abreviação */
    place-content: start start;
}
div.ex{
    border: 1px solid black;

}