@charset "UTF-8";

div.conteiner{
    border: 1px solid black;
    height: 500px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

    /* items */
    align-items: stretch;
    justify-items: stretch;

    /* conteiner */
    align-content: center ;
    justify-content: center;
}
div.ex{
    border: 1px solid black;
   
}